



html{
    width: 100%;
    max-width: 1920px;
    min-width: 280px;
    padding: 0;
    position: sticky;
}

body{
    margin: 0;
   
}
.hello-area, .logo,.feature__card{
   
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.025) -41.9%, rgba(255, 255, 255, 0.05) 260.24%);
    
    background-color: var(--firstColor);
}
.container{
    max-width: 1275px;
    margin: 0px auto;
   background-color: var(--firstColor);
 
}
.section_division{
    position: relative;
    top:-150px;
}
main_button, .main_button{
    font-family: 'OpenSans',sans-serif;

    font-weight: 600;
    font-size: 20px;
    background: var(--mainColor);
    border-radius: 5px;
    color: var(--secondColor);
    text-align: center;
    justify-content: center;

    &:hover{
        cursor: pointer;
    }
    &:active{
        background-color: rgb(129, 5, 5);
    }
}

.polygon{
    display: block;
    border: 1px solid transparent; border-left: 1px solid var(--secondColor);
width: 27px;
height: 26px;
background: var(--secondColor);

}


.color-text{
    text-transform:uppercase;
    color: var(--mainColor);
    
   
}

h2{
    font-family: 'OpenSans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    font-size: 40px;
    color: var(--secondColor); 
    margin-top: 178px;
}
h3{
    font-family: 'OpenSans',sans-serif;

font-weight: 700;
font-size: 25px;
text-align: center;
color: var(--secondColor);
opacity: 0.7;

}
p{
    font-family: 'OpenSans',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 160%;
color: var(--secondColor);
    opacity: 0.7;
    }
   .header-sign-inputs-input,.colorbar,.hello-area__text-inputs-item{
    background-color: var(--firstColor);
    border: 1px solid var(--mainColor);
    border-radius: 5px;
}
input, textarea {
    border-radius: 5px;
    outline: none;
    border: none;
}
iframe{
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width:1380px){
    .container{
        max-width: 1100px;
        
        background-color: transparent;
    }
 
       
}
@media screen and (max-width:1200px){
    .container{
    max-width:992px;
    }
    main_button, .main_button{

        font-size: 18px;
    }
    h2{
      
        font-size: 38px;}
    h3{
        font-size: 23px;}
    p{
        font-size: 14px;}

}

@media screen and (max-width:999px){
    .container{
    max-width:768px;
    } 
    main_button, .main_button{

        font-size: 16px;
    }
    h2{
      
        font-size: 36px;}
    h3{
        font-size: 21px;}
    p{
        font-size: 12px;
   }  
  
}

@media screen and (max-width:770px){
    .container{
    max-width:576px;
    padding-left: 30px;
    }
    main_button, .main_button{

        font-size: 17px;
    }
    h2{
      
        font-size: 37px;}
    h3{
        font-size: 22px;}
    p{
        font-size: 15px;}
  
}
@media screen and (max-width:580px){
    .container{
        max-width:98%;
        padding:0px 30px 0px 30px;
    }
   
}

