.header{
    background-color: var(--firstColor);
    background: linear-gradient(rgba(0, 0, 0, 0.25));
    position:sticky;
   top: 0px;
   z-index: 10;
&_wrap{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap:63px;
}

&__main-button{
    width: 112px;
    height: 52px;
    line-height: 52px;
    margin-left: 160px;
}
}

.logo{
    max-height: 57px;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    flex-basis: 283px;
    margin:22px 0px;
    text-decoration: none;
    align-items: center;
&__img{
    width: 44.04px;
    height: 57px;
}

&__p{
    color: var(--mainColor);
    font-family: 'OpenSans',sans-serif;
    font-weight: 600;
    font-size: 22.5px;
}
}

.menu{
  
    flex-basis: 441px;
    padding: 0;
    
&-items{
    display: block;
    width: 100%;
    height: 100%;
    list-style-type: none;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap:10px;
   padding: 0;
   text-align: center;
}

&__item{
    
    align-self: center;
    width: 100%;
    height: 100%;
   
    color: var(--secondColor);
}
&__link{

    text-decoration: none;
    font-family: 'OpenSans',sans-serif;
font-weight: 600;
font-size: 16px;
color: var(--secondColor);
padding: 17.8px 17.8px;
}
&__link:active,&__link:hover{
    color: var(--mainColor);
}
}  


.sign-inputs{
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 10px;
    max-width: 100%;
    margin: 0px 120px;
    padding: 3px;
    background-color: var(--firstColor);
    border-radius: 5px;
    &__item{
        max-width: 30%;
    }
    &__input{
        
        max-width: 100%;
        background-color: var(--firstColor);
    color: var(--secondColor);
    padding: 7px;
    border-radius: 5px;
    }
}

.sign-inputs__main-button{
   
    padding: 3px 10px;
}
#sign:checked~.sign-inputs{
    display: flex;
}
@media screen and (max-width:1380px){
    .sign-inputs{
        margin: 0px 0px;
}
}
@media screen and (max-width:1200px){
   .header_wrap{
    justify-content: space-evenly;
   } 
   .logo{
    padding-left: 10px;
   }
   .header__main-button{
    width: 100px;
    height: 52px;
    line-height: 52px;
    margin-left: 0px;
   }
   
}

@media screen and (max-width:999px){
    .header_wrap{
        flex-flow: column-reverse nowrap;
        align-items: flex-start;
        gap:10px; 
}

.logo{
    flex-basis: 75px;
    position: absolute;
    top: 0;
    z-index: -1;

}
.menu{
   
    margin-left: 0px;
    flex-basis: 20px;
    align-self: center;
}
.header__main-button{
    margin: 24px 29px 4px auto; 
}
.menu, .menu__item{
    margin: 0;
}
.menu__link{
    padding: 7px;
}
.sign-inputs{
    margin: 0px 20px;
} 
}
@media screen and (max-width:770px){
    .logo__p{
    
        max-width: 75px;}
       
  
}
@media screen and (max-width:580px){
 
    .menu__link{
        padding: 10px;
    }
    .logo__p{
        max-width: 15%;
        font-size: 9px;
     }
     .header__button{
        margin: 24px 0px 4px auto; 
    } 
    .sign-inputs__item{
        max-width: 35%;
    }
    .sign-inputs__input{
        padding: 3px;
        max-width: 100%;
    }
}
@media screen and (max-width:380px){
    .header__main-button{
        margin: 10px 0px 0px auto; 
        width: 80px;
        height: 32px;
    line-height: 32px;
    }
    .logo{
        margin: 0px 0px 0px 0px;
    }
    .sign-inputs{
        margin: 0px 00px;
}

 .menu__link{
 font-size: 10px;
padding: 5px ;   
}
.logo__p{
    display: none;
 }
}