.hello-area{
    height: 100vh;
    min-height: 780px;
&_wrap{
    display: grid;
    grid-template-columns: 51% 49%;
    grid-gap:14px;
}





&__h1{
    margin-top: 20px;
   
    font-family: 'OpenSans',sans-serif;
font-weight: 800;
    font-size: 55px;
    color: var(--secondColor);
    animation: opacity 11s;


}
&__buttons-wrap{
    display: flex;
    flex-flow: row wrap;
    gap:20px;
    animation: from-bottom 5s;

} 
    
&__button-login{
    width: 171px;
    height: 57px;
    line-height: 57px;
    justify-content: center;
    }
&__button-youtube{
    text-decoration: none;
    width: 217px;
    height: 57px;
   line-height: 57px;
    text-align: center;
    }
}
.topic__p{
    margin-top: 105px;
    text-transform: uppercase;
    margin-bottom: 0px;
    animation: from-left 5s;
}
.subtitle__p{
    max-width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'OpenSans',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
    animation: from-right 5s;
    

 
}
.hello-area__text__button-input{
    display: none;
}
.hello-area__text-inputs{
    padding:3px 25px;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 70px 70px;
    grid-gap:10px;
    background-color: var(--firstColor);
    border: 3px solid var(--mainColor);
    border-radius: 10px;
    z-index: 3;
    display: none;
}
#login:checked~.hello-area__text-inputs{
    display: grid;
    max-width: 100%;
}

.hello-area__item{
    
    margin: 15px auto;
}
.hello-area__input{
    width:100%;
    background-color: var(--firstColor);
    padding: 8px 0px;
 
}

.hello-area__submit{
padding: 10px 30px;
}
.hello-area__img{
    margin-top: 60px;
    
}

@media screen and (max-width:1380px){
    .hello-area_wrap{
        grid-template-columns: 80%;
    }
   
    .hello-area__text-inputs{
        max-width: 50%;
    }
    
    .hello-area__button-login{
        width: 150px;
        
        }
    .hello-area__button-youtube{
        width: 150px;
        
        }

 .hello-area{
    height: 100vh;
    background-color: var(--firstColor);
    background-image: 
    linear-gradient(to top, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0) ),
     url('../images/hello-img.svg') ;
    background-size: cover;
 }
 .topic__p{
        margin-top: 80px;  
 }
.hello-area__img{
    display: none;
}
} 

 @media screen and (max-width:1200px){

    .topic__p{
        margin-top: 50px;  
 }
.hello-area_wrap{
   
    grid-template-columns: 100%;
    
}
}
@media screen and (max-width:770px){
    .hello-area_wrap{
           grid-template-columns: 100%;
    }
}
@media screen and (max-width:580px){
    .topic__p{
        margin-top: 20px; 
}
.hello-area__p{
    animation: from-right 5s;
}
}
@media screen and (max-width:400px){
    .topic__p{
        margin-top: 15px; 
} 
.hello-area__h1{
    font-size: 37px;
}
.hello-area__item{
    
   max-width: 100%;
}
.hello-area__input{
    width:100%;
 
}
.hello-area__submit{
    
    padding: 10px 11px;
}
}