.logos{
    background-color: var(--firstColor);
    margin: 0;
}
.logos_wrap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:71px;
    justify-self: center;
    align-self: center;
    padding: 89px 0px 99px 0px;
    z-index: 2;
}
.logos__item{
    justify-self: center;
    &:hover~.tech-logo,.logo-2,.g-logo,.last-logo{
        animation: none;
    }
}
.tech-logo{
    width: 217.64px;
    height: 58.9px;
    animation: from-left 20s infinite;
   
}
.logo-2{
    width: 212.3px;
    height: 59px;
    animation: from-left  20s infinite;
 
}
.g-logo{
    width: 206.9px;
    height: 59px;
    animation: from-left 20s infinite;
 
}
.last-logo{
    width: 294.45px;
    height: 59px;
    animation: from-left 20s infinite;
 
}

@media screen and (max-width:1200px){
    .logos_wrap{
        grid-template-columns: repeat(2,1fr); 
        justify-self: center;
        align-self: center;
    }
   
}

@media screen and (max-width:580px){
    .logos_wrap{   
    grid-template-columns: 1fr;
    }
    .tech-logo, .logo-2, .g-logo,.last-logo{
        justify-self: center;
    } 
   
}
@media screen and (max-width:350px){
.tech-logo{
    width: 200px;
    height: 58.9px;
    animation: from-left 20s infinite;
   
}
.logo-2{
    width: 200px;
    height: 59px;
    animation: from-left  20s infinite;
 
}
.g-logo{
    width: 200px;
    height: 59px;
    animation: from-left 20s infinite;
 
}
.last-logo{
    width: 210px;
    height: 59px;
    animation: from-left 20s infinite;
 
}
}