.colorbar{
    
    --firstColor:#020a1b;
    --secondColor:#ffffff;
    --mainColor:#3A68B8;
    background-color: var(--firstColor);
  
}
.colorbar_wrap{
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-end;
    gap:20px;
    margin-right: 130px;
}
.colorbar__items,.colorbar__button{
    display: flex;
    flex-flow: row-reverse nowrap;
}
.colorbar__button{
    background-color: var(--secondColor);
    transition: background-color 0.1s;
    gap: 3px;
    cursor: pointer;
    
}
.colorbar__button__p1,.colorbar__button__p2{
    margin: 0px;
    padding: 7px;
    border-radius: 4px;
    opacity: 1;
    color: var(--mainColor);
}
.colorbar__button__p1{
    background-color: #020a1b; 
}
.colorbar__button__p2{
    background-color: #ffffff;
    
}
.colorbar__menu{
    display: none;
    flex-flow: row-reverse nowrap;
    gap:5px;
    margin: 0px 5px 0px 5px;
    
}
.colorbar__menu__item{
    border: none;
    cursor: pointer;
}
/*black or white**/
#theme:checked ~ .colorbar{
    --secondColor:#020a1b;
    --firstColor:#ffffff;
}

/**change color**/
#colorbar__item:checked~.colorbar__menu{
    display: flex;
}
.round,.round-green,.round-red,.round-aqua,.round-blue{
    width: 20px;
    height: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
}
.round{
background-color: var(--mainColor);
cursor: pointer;
}
.round-green{
    background-color: green;
}
.round-red{
    background-color: red;
}
.round-aqua{
    background-color: aqua;
}
.round-blue{
   background-color: #3A68B8; 
}


#green:checked~.colorbar{
    --mainColor:green; 
}
#red:checked~.colorbar{
    --mainColor:red; 
}
#aqua:checked~.colorbar{
    --mainColor:aqua; 
}
#blue:checked~.colorbar{
    --mainColor:#3A68B8; 
}

@media screen and (max-width:1380px){
    .colorbar_wrap{
       
        margin-right: 8%; 
}
}

.video{
    background-color: var(--firstColor);
}
.video__item{
    padding: 75px 0px;
}

           
